<?xml version="1.0" encoding="utf-8" ?>
<appSettings>

  <!--Added to protect sensitive data from being committed to Source Control.-->
  <!--Because of the file attribute on the appSettings in the Web.config, this section
    will be merged together with the appSettings section there at runtime. For the 
    file attribute to work, this config file should only contain information about appSettings.
    Added a linking to this on the default Web.config on the root-->

  <!--Replace yourdomain.com below with your actual domain and extension-->
  <add key="EmailClient" value="mail.mattroberts-dev.com"/>

  <!--Replace mail@yourdomain.com with the email user created on your hosting account-->
  <add key="EmailUser" value="administrator@mattroberts-dev.com"/>

  <!--Replace Password with the password for your email user-->
  <add key="EmailPass" value="P@ssw0rd"/>

  <!--Replace mail@domain.com with your personal email address-->
  <add key="EmailTo" value="mroberts8035@outlook.com"/>


</appSettings>