
@{
    ViewBag.Title = "Console App";
}





<main id="main">

    <!-- ======= Breadcrumbs ======= -->
    <section id="breadcrumbs" class="breadcrumbs">
        <div class="container">

            <div class="d-flex justify-content-between align-items-center">
                <h2><strong>@ViewBag.Title</strong></h2>
                <ol>
                    <li><a href="@Url.Action("Index", "Home")">Home</a></li>
                    <li>Portfolio Details</li>
                </ol>
            </div>

        </div>
    </section><!-- End Breadcrumbs -->
    <!-- ======= Portfolio Details Section ======= -->
    <section id="portfolio-details" class="portfolio-details">
        <div class="container">

            <div class="row gy-4">
                @* TODO Update image(s) for portfolio item *@
                <div class="col-lg-8">
                    <div class="portfolio-details-slider swiper">
                        <div class="swiper-wrapper align-items-center">

                            <div class="swiper-slide">
                                <img src="~/Content/assets/img/portfolio/ConsoleApp.jpg" alt="">
                            </div>

                            @*<div class="swiper-slide">
                                    <img src="assets/img/portfolio/portfolio-details-2.jpg" alt="">
                                </div>

                                <div class="swiper-slide">
                                    <img src="assets/img/portfolio/portfolio-details-3.jpg" alt="">
                                </div>*@

                        </div>
                        <div class="swiper-pagination"></div>
                    </div>
                </div>

                <div class="col-lg-4">
                    <div class="portfolio-info">
                        @* TODO Update Project name and information including link *@
                        <h3>Project information</h3>
                        <ul>
                            <li><strong>Category</strong>: Console App, C#</li>
                            <li><strong>Client</strong>: Centriq Project</li>
                            <li><strong>Project date</strong>: 25 Feb, 2022</li>
                            <li><strong>Project Link</strong>: <a href="https://github.com/mroberts8035/HistoryGame" target="_blank">Click Here to View</a></li>
                        </ul>
                    </div>
                    <div class="portfolio-description">
                        @* TODO Update Portfolio Description *@
                        <h2>Practice using Object Oriented Programming in C#</h2>
                        <p>
                            A basic console app text game. Focused on the project requirements. Used to demonstrate implementing logic, Object Orientated Programming, and classes. The link is to a public GitHub Repository.
                        </p>
                    </div>
                </div>

            </div>

        </div>
    </section><!-- End Portfolio Details Section -->

</main><!-- End #main -->
