
@{
    ViewBag.Title = "Front End Development";
}

<h2>@ViewBag.Title</h2>




<main id="main">

    <!-- ======= Breadcrumbs ======= -->
    <section id="breadcrumbs" class="breadcrumbs">
        <div class="container">

            <div class="d-flex justify-content-between align-items-center">
                <h2>Portfoio Details</h2>
                <ol>
                    <li><a href="@Url.Action("Index", "Home")">Home</a></li>
                    <li>Portfoio Details</li>
                </ol>
            </div>

        </div>
    </section><!-- End Breadcrumbs -->
    <!-- ======= Portfolio Details Section ======= -->
    <section id="portfolio-details" class="portfolio-details">
        <div class="container">

            <div class="row gy-4">
                @* TODO Update image(s) for portfolio item *@
                <div class="col-lg-8">
                    <div class="portfolio-details-slider swiper">
                        <div class="swiper-wrapper align-items-center">

                            <div class="swiper-slide">
                                <img src="~/Content/assets/img/portfolio/Fed1.jpg" alt="">
                            </div>

                            @*<div class="swiper-slide">
                                <img src="assets/img/portfolio/portfolio-details-2.jpg" alt="">
                            </div>

                            <div class="swiper-slide">
                                <img src="assets/img/portfolio/portfolio-details-3.jpg" alt="">
                            </div>*@

                        </div>
                        <div class="swiper-pagination"></div>
                    </div>
                </div>

                <div class="col-lg-4">
                    <div class="portfolio-info">
                        @* TODO Update Project name and information including link *@
                        <h3>Project information</h3>
                        <ul>
                            <li><strong>Category</strong>: Web design, Front End</li>
                            <li><strong>Client</strong>: Centriq Project</li>
                            <li><strong>Project date</strong>: 01 March, 2020</li>
                            <li><strong>Project Link</strong>: <a href="http://fg.mattroberts-dev.com/index.html" target="_blank">Click Here to View</a></li>
                        </ul>
                    </div>
                    <div class="portfolio-description">
                        @* TODO Update Portfolio Description *@
                        <h2>Front End Development Practice</h2>
                        <p>
                            This was the very first project using only HTML and CSS. Hard coding everything to play with elements and see how they work. This project also included the first 'Hello World' for web design. There was a specific wireframe to follow and specific checkboxes of requirements to hit. Stuck with the client expectations and requirements instead of adding personal flair. 
                        </p>
                    </div>
                </div>

            </div>

        </div>
    </section><!-- End Portfolio Details Section -->

</main><!-- End #main -->
