@{
    ViewBag.Title = "Matt Roberts - Developer";
}

<!-- ======= Hero Section ======= -->
<section id="hero" class="d-flex flex-column justify-content-center align-items-center">
    <div class="hero-container" data-aos="fade-in">
        <h1>Matt Roberts</h1>
        <p>I'm a <span class="typed" data-typed-items="Data Specialist, Developer, Freelancer, Financial Coach"></span></p>
    </div>
</section><!-- End Hero -->

<main id="main">

    <!-- ======= About Section ======= -->
    <section id="about" class="about">
        <div class="container">

            <div class="section-title">
                <h2>About</h2>
                <p>
                    I’m Matt, I’m a Full Stack Web Developer with the .NET stack.<br /><br />

                    I have always focused on taking care of people. I was a SGT in the National Guard and was responsible for other soldiers and equipment in stressful environments as well as deescalating situations while people were at their worst.<br /><br />

                    I took classes at a financial education company where the owner then created a position and offered me a job just based on me being helpful to the other students. There I was the entire customer service and IT department and even when I didn’t know that a problem was I still had to figure out how to solve it. I learned how to think outside the box, and I built the skill of learning what I don’t know. Some skills I learned from there include, project management, troubleshooting, technology support accepting tickets and more. This position also required me to be able to successfully communicate difficult technical concepts in ways that are easily understood by people with limited to no technical backgrounds.<br /><br />

                    While I was there, I loved the technology aspect so started teaching myself Linux, Python and WordPress, using that to create financial modeling apps just as a personal hobby, to play around with data science and programming. I have always had a passion for technology, logic, data science, statistics, and finding patterns.<br /><br />

                    I know time is valuable for both of us and would love to discuss more about how we could be a good fit for each other. I’ve already sent you a digital business card with my Personal Site, mattroberts-dev.com and we can connect there, or would another form of communication work better for you?
                </p>
            </div>

            <div class="row">
                <div class="col-lg-4" data-aos="fade-right">
                    <img src="~/Content/assets/img/ProfilePicture.jpg" class="img-fluid" alt="">
                </div>
                <div class="col-lg-8 pt-4 pt-lg-0 content" data-aos="fade-left">
                    <h3>Data Enthusiast, Financial Coach &amp; Web Developer.</h3>
                    <p class="fst-italic">
                        I am a full stack developer with a background in finance and data science. I love using data driven and logical approaches to solve the problems of today and tomorrow!
                    </p>
                    <div class="row">
                        <div class="col-lg-6">
                            <ul>
                                <li><i class="bi bi-chevron-right"></i> <strong>Upwork:</strong> <span>Upwork.com</span></li>
                                <li><i class="bi bi-chevron-right"></i> <strong>Website:</strong> <span>mattroberts-dev.com</span></li>
                                <li><i class="bi bi-chevron-right"></i> <strong>Phone:</strong> <span>+816 668 8035</span></li>
                                <li><i class="bi bi-chevron-right"></i> <strong>City:</strong> <span>Blue Springs, MO, USA</span></li>
                            </ul>
                        </div>
                        <div class="col-lg-6">
                            <ul>
                                <li><i class="bi bi-chevron-right"></i> <strong>Fiverr:</strong> <span>Fiverr.com</span></li>
                                <li><i class="bi bi-chevron-right"></i> <strong>Education:</strong> <span>Various technicial trainings.</span></li>
                                <li><i class="bi bi-chevron-right"></i> <strong>Email:</strong> <span>mroberts8035@outlook.com</span></li>
                                <li><i class="bi bi-chevron-right"></i> <strong>Freelance:</strong> <span>Available</span></li>
                            </ul>
                        </div>
                    </div>
                    <p>
                        I enjoy helping others succeed and grow. I am eagerly looking forward to the opportunities that are available in the software and development fields. Math, patterns, data, technology; these are the things that drive the world. It is beyond exciting to be a part of this world. I thrive in environments of teamwork as well as self-driven autonomy.
                    </p>
                </div>
            </div>

        </div>
    </section><!-- End About Section -->
    <!-- ======= Facts Section ======= -->
    <!--<section id="facts" class="facts">
      <div class="container">

        <div class="section-title">
          <h2>Facts</h2>
          <p>Magnam dolores commodi suscipit. Necessitatibus eius consequatur ex aliquid fuga eum quidem. Sit sint consectetur velit. Quisquam quos quisquam cupiditate. Et nemo qui impedit suscipit alias ea. Quia fugiat sit in iste officiis commodi quidem hic quas.</p>
        </div>

        <div class="row no-gutters">

          <div class="col-lg-3 col-md-6 d-md-flex align-items-md-stretch" data-aos="fade-up">
            <div class="count-box">
              <i class="bi bi-emoji-smile"></i>
              <span data-purecounter-start="0" data-purecounter-end="232" data-purecounter-duration="1" class="purecounter"></span>
              <p><strong>Happy Clients</strong> consequuntur quae</p>
            </div>
          </div>

          <div class="col-lg-3 col-md-6 d-md-flex align-items-md-stretch" data-aos="fade-up" data-aos-delay="100">
            <div class="count-box">
              <i class="bi bi-journal-richtext"></i>
              <span data-purecounter-start="0" data-purecounter-end="521" data-purecounter-duration="1" class="purecounter"></span>
              <p><strong>Projects</strong> adipisci atque cum quia aut</p>
            </div>
          </div>

          <div class="col-lg-3 col-md-6 d-md-flex align-items-md-stretch" data-aos="fade-up" data-aos-delay="200">
            <div class="count-box">
              <i class="bi bi-headset"></i>
              <span data-purecounter-start="0" data-purecounter-end="1453" data-purecounter-duration="1" class="purecounter"></span>
              <p><strong>Hours Of Support</strong> aut commodi quaerat</p>
            </div>
          </div>

          <div class="col-lg-3 col-md-6 d-md-flex align-items-md-stretch" data-aos="fade-up" data-aos-delay="300">
            <div class="count-box">
              <i class="bi bi-people"></i>
              <span data-purecounter-start="0" data-purecounter-end="32" data-purecounter-duration="1" class="purecounter"></span>
              <p><strong>Hard Workers</strong> rerum asperiores dolor</p>
            </div>
          </div>

        </div>

      </div>
    </section>-->
    <!-- End Facts Section -->
    <!-- ======= Skills Section ======= -->
    <section id="skills" class="skills section-bg">
        <div class="container">

            <div class="section-title">
                <h2>Skills</h2>
                <p>
                    Front End: HTML5, JavaScript, jQuery, jQueryUI, CSS3 Responsive/Mobile Web Development, Bootstrap, ReactJS<br /><br />
                    Middle Tier: C#.NET, ASP.NET, LINQ, MVC, EF, Web API, Python<br /><br />
                    Back End: Database Management, ADO.NET, SQL, TSQL, SQL Server<br /><br />
                    IDE's and Web Builders: Visual Studio, Visual Studio Code, SSMS, PyCharm, WordPress, Shopify, Wix <br /><br />
                    Other Proficiencies: Unit Testing, Linux, Financial modeling and planning, Coaching, IT Troubleshooting and Support, Help Desk, Project Management, Staff Development, Data Analysis, Salesforce, GitHub Source Control
                </p>
            </div>

            <div class="row skills-content">

                <div class="col-lg-6" data-aos="fade-up">

                    <div class="progress">
                        <span class="skill">Front End <i class="val">85%</i></span>
                        <div class="progress-bar-wrap">
                            <div class="progress-bar" role="progressbar" aria-valuenow="85" aria-valuemin="0" aria-valuemax="100"></div>
                        </div>
                    </div>

                    <div class="progress">
                        <span class="skill">Middle Tier <i class="val">90%</i></span>
                        <div class="progress-bar-wrap">
                            <div class="progress-bar" role="progressbar" aria-valuenow="90" aria-valuemin="0" aria-valuemax="100"></div>
                        </div>
                    </div>

                    <div class="progress">
                        <span class="skill">Back End <i class="val">95%</i></span>
                        <div class="progress-bar-wrap">
                            <div class="progress-bar" role="progressbar" aria-valuenow="95" aria-valuemin="0" aria-valuemax="100"></div>
                        </div>
                    </div>

                </div>

                <div class="col-lg-6" data-aos="fade-up" data-aos-delay="100">

                    <div class="progress">
                        <span class="skill">WordPress <i class="val">95%</i></span>
                        <div class="progress-bar-wrap">
                            <div class="progress-bar" role="progressbar" aria-valuenow="95" aria-valuemin="0" aria-valuemax="100"></div>
                        </div>
                    </div>

                    <div class="progress">
                        <span class="skill">SQL <i class="val">90%</i></span>
                        <div class="progress-bar-wrap">
                            <div class="progress-bar" role="progressbar" aria-valuenow="90" aria-valuemin="0" aria-valuemax="100"></div>
                        </div>
                    </div>

                    <div class="progress">
                        <span class="skill">Data Analysis <i class="val">75%</i></span>
                        <div class="progress-bar-wrap">
                            <div class="progress-bar" role="progressbar" aria-valuenow="75" aria-valuemin="0" aria-valuemax="100"></div>
                        </div>
                    </div>

                </div>

            </div>

        </div>
    </section><!-- End Skills Section -->
    <!-- ======= Resume Section ======= -->
    <section id="resume" class="resume">
        <div class="container">

            <div class="section-title">
                <h2>Resume</h2>
                <h5>
                    <a href="~/Content/assets/img/RevisedResume.pdf" target="_blank">View My Full Resume</a>
                </h5>
                <!--<p>Magnam dolores commodi suscipit. Necessitatibus eius consequatur ex aliquid fuga eum quidem. Sit sint consectetur velit. Quisquam quos quisquam cupiditate. Et nemo qui impedit suscipit alias ea. Quia fugiat sit in iste officiis commodi quidem hic quas.</p>-->
            </div>

            <div class="row">
                <div class="col-lg-6" data-aos="fade-up">
                    <h3 class="resume-title">Summary</h3>
                    <div class="resume-item pb-0">
                        <h4>Matt Roberts</h4>
                        <p><em>Innovative and deadline-driven full stack developer focusing on client-centered and user-centered products from initial concept to final, polished and delivered. Self motivated and always learning new and interesting ways to create products and services. Self taught on Python and Data Analysis.</em></p>
                        <ul>
                            <li>Blue Springs, MO</li>
                            <li>(816) 668-8035</li>
                            <li>mroberts8035@outlook.com</li>
                            <li>mattroberts-dev.com</li>
                        </ul>
                    </div>

                    <h3 class="resume-title">Education and Certifications</h3>
                    <div class="resume-item">
                        <h4>Full Stack Web Developer</h4>
                        <h5>2022</h5>
                        <p><em>Centriq Training, Kansas City, MO</em></p>
                        <p>Extensive software development program designed specifically to give grads the skills and knowledge necessary to be successful in a career coding.</p>
                    </div>
                    <div class="resume-item">
                        <h4>FINRA</h4>
                        <h5>2020</h5>
                        <p><em>Credential ID 7281289</em></p>
                        <p>Series 65 license to be a Registered Financial Advisor Representative</p>
                    </div>
                </div>
                <div class="col-lg-6" data-aos="fade-up" data-aos-delay="100">
                    <h3 class="resume-title">Professional Experience</h3>
                    <div class="resume-item">
                        <h4>Hazmat Tanker Driver, Class A</h4>
                        <h5>2021-2022</h5>
                        <p><em>Groendyke Transport, Kansas City, MO </em></p>
                        <ul>
                            <li>Responsible for daily inspections to ensure the safe and legal operation of a Tractor/Trailer for Hazmat Tanker.</li>
                            <li>Demonstrated exquisite time management skills to ensure the deliveries were on schedule.</li>
                            <li>Maintain and build customer relations by providing service above and beyond what was required.</li>
                        </ul>
                    </div>
                    <div class="resume-item">
                        <h4>Financial Advisor Representative</h4>
                        <h5>2020-2020</h5>
                        <p><em>Reed Financial, Overland Park, KS</em></p>
                        <ul>
                            <li>Provided comprehensive planning to clients.</li>
                            <li>Built up personal client base with minimal support creating a portfolio of assets under management.</li>
                            <li>Provided educational seminars to support and grow the knowledge of the current and prospective clients.</li>
                        </ul>
                    </div>
                    <div class="resume-item">
                        <h4>Student Services Manager</h4>
                        <h5>2013-2020</h5>
                        <p><em>Online Trading Academy, Overland Park, KS</em></p>
                        <ul>
                            <li>Responsible for student satisfaction.</li>
                            <li>Provided help desk user support for multiple software and technology by accepting tickets and responding to them.</li>
                            <li>Worked one on one with students to ensure comprehension of class material.</li>
                            <li>Taught blocks of material to classes of 22 or more students.</li>
                            <li>Conducted evening classes for blocks of up to 50 students.</li>
                            <li>Responsible for developing orientation level course content.</li>
                            <li>Produced a weekly radio show called "Power Trading Radio"</li>
                            <li>Handled any technical issue or support for the entire office.</li>
                        </ul>
                    </div>
                </div>
            </div>

        </div>
    </section><!-- End Resume Section -->
    <!-- ======= Portfolio Section ======= -->
    <section id="portfolio" class="portfolio section-bg">
        <div class="container">

            <div class="section-title">
                <h2>Portfolio</h2>
                <p>Here are a few examples of some programs I worked on through the Centriq Training. They had specific requirements for them to follow and I kept the end result at the "client level request." I am also adding in a few other projects that I have worked on personally. These are just examples, I do custom work for clients or companies so contact me to go over what your specific needs are.</p>
            </div>

            <!--<div class="row" data-aos="fade-up">
              <div class="col-lg-12 d-flex justify-content-center">
                <ul id="portfolio-flters">
                  <li data-filter="*" class="filter-active">All</li>
                  <li data-filter=".filter-app">App</li>
                  <li data-filter=".filter-card">Card</li>
                  <li data-filter=".filter-web">Web</li>
                </ul>
              </div>
            </div>-->

            <div class="row portfolio-container" data-aos="fade-up" data-aos-delay="100">

                <div class="col-lg-4 col-md-6 portfolio-item filter-app">
                    <div class="portfolio-wrap">
                        <img src="~/Content/assets/img/portfolio/Fed1.jpg" class="img-fluid" alt="">
                        <div class="portfolio-links">
                            <a href="~/Content/assets/img/portfolio/Fed1.JPG" data-gallery="portfolioGallery" class="portfolio-lightbox" title="Front End"><i class="bx bx-plus"></i></a>
                            <a href="@Url.Action("FED1Details","Home")" title="More Details"><i class="bx bx-link"></i></a>
                        </div>
                    </div>
                </div>

                <div class="col-lg-4 col-md-6 portfolio-item filter-web">
                    <div class="portfolio-wrap">
                        <img src="~/Content/assets/img/portfolio/ConsoleApp.jpg" class="img-fluid" alt="">
                        <div class="portfolio-links">
                            <a href="~/Content/assets/img/portfolio/ConsoleApp.jpg" data-gallery="portfolioGallery" class="portfolio-lightbox" title="Console App"><i class="bx bx-plus"></i></a>
                            <a href="@Url.Action("ConsoleDetails","Home")" title="More Details"><i class="bx bx-link"></i></a>
                        </div>
                    </div>
                </div>

                <div class="col-lg-4 col-md-6 portfolio-item filter-app">
                    <div class="portfolio-wrap">
                        <img src="~/Content/assets/img/portfolio/BannerFull.jpg" class="img-fluid" alt="">
                        <div class="portfolio-links">
                            <a href="~/Content/assets/img/portfolio/BannerFull.jpg" data-gallery="portfolioGallery" class="portfolio-lightbox" title="TCF"><i class="bx bx-plus"></i></a>
                            <a href="@Url.Action("TCFDetails","Home")" title="More Details"><i class="bx bx-link"></i></a>
                        </div>
                    </div>
                </div>

                <!--<div class="col-lg-4 col-md-6 portfolio-item filter-card">
                  <div class="portfolio-wrap">
                    <img src="assets/img/portfolio/portfolio-4.jpg" class="img-fluid" alt="">
                    <div class="portfolio-links">
                      <a href="assets/img/portfolio/portfolio-4.jpg" data-gallery="portfolioGallery" class="portfolio-lightbox" title="Card 2"><i class="bx bx-plus"></i></a>
                      <a href="portfolio-details.html" title="More Details"><i class="bx bx-link"></i></a>
                    </div>
                  </div>
                </div>

                <div class="col-lg-4 col-md-6 portfolio-item filter-web">
                  <div class="portfolio-wrap">
                    <img src="assets/img/portfolio/portfolio-5.jpg" class="img-fluid" alt="">
                    <div class="portfolio-links">
                      <a href="assets/img/portfolio/portfolio-5.jpg" data-gallery="portfolioGallery" class="portfolio-lightbox" title="Web 2"><i class="bx bx-plus"></i></a>
                      <a href="portfolio-details.html" title="More Details"><i class="bx bx-link"></i></a>
                    </div>
                  </div>
                </div>

                <div class="col-lg-4 col-md-6 portfolio-item filter-app">
                  <div class="portfolio-wrap">
                    <img src="assets/img/portfolio/portfolio-6.jpg" class="img-fluid" alt="">
                    <div class="portfolio-links">
                      <a href="assets/img/portfolio/portfolio-6.jpg" data-gallery="portfolioGallery" class="portfolio-lightbox" title="App 3"><i class="bx bx-plus"></i></a>
                      <a href="portfolio-details.html" title="More Details"><i class="bx bx-link"></i></a>
                    </div>
                  </div>
                </div>

                <div class="col-lg-4 col-md-6 portfolio-item filter-card">
                  <div class="portfolio-wrap">
                    <img src="assets/img/portfolio/portfolio-7.jpg" class="img-fluid" alt="">
                    <div class="portfolio-links">
                      <a href="assets/img/portfolio/portfolio-7.jpg" data-gallery="portfolioGallery" class="portfolio-lightbox" title="Card 1"><i class="bx bx-plus"></i></a>
                      <a href="portfolio-details.html" title="More Details"><i class="bx bx-link"></i></a>
                    </div>
                  </div>
                </div>

                <div class="col-lg-4 col-md-6 portfolio-item filter-card">
                  <div class="portfolio-wrap">
                    <img src="assets/img/portfolio/portfolio-8.jpg" class="img-fluid" alt="">
                    <div class="portfolio-links">
                      <a href="assets/img/portfolio/portfolio-8.jpg" data-gallery="portfolioGallery" class="portfolio-lightbox" title="Card 3"><i class="bx bx-plus"></i></a>
                      <a href="portfolio-details.html" title="More Details"><i class="bx bx-link"></i></a>
                    </div>
                  </div>
                </div>

                <div class="col-lg-4 col-md-6 portfolio-item filter-web">
                  <div class="portfolio-wrap">
                    <img src="assets/img/portfolio/portfolio-9.jpg" class="img-fluid" alt="">
                    <div class="portfolio-links">
                      <a href="assets/img/portfolio/portfolio-9.jpg" data-gallery="portfolioGallery" class="portfolio-lightbox" title="Web 3"><i class="bx bx-plus"></i></a>
                      <a href="portfolio-details.html" title="More Details"><i class="bx bx-link"></i></a>
                    </div>
                  </div>
                </div>-->

            </div>

        </div>
    </section><!-- End Portfolio Section -->
    <!-- ======= Services Section ======= -->
    <!--<section id="services" class="services">
      <div class="container">

        <div class="section-title">
          <h2>Services</h2>
          <p>Here is a list of some of the services I offer. I customize solutions to the individual needs of the client though so if you don't know what you need don't worry. The first step would be a free consultation with me that you can book <a href="#contact">Here</a></p>
        </div>

        <div class="row">
          <div class="col-lg-4 col-md-6 icon-box" data-aos="fade-up">
            <div class="icon"><i class="bi bi-briefcase"></i></div>
            <h4 class="title"><a href="">Full Stack Web Development</a></h4>
            <p class="description">As a full stack developer I have the tools, knowledge, and skills to create all tiers of your projects. This means the front end, middle tier, and back end. Front end is the User Interface that people are familiar with interacting with, like the page you're viewing right now. The design and layout for both the User Interface and the User Experience. Back end is the database management to make the whole system not only function but be dynamic and having information available. The middle tier ties it all together with a separate layer of logic because you don't want end users interacting directly with your database. Any challenges with this whether you have a system in place already or need one created I can help you with it all. </p>
          </div>
          <div class="col-lg-4 col-md-6 icon-box" data-aos="fade-up" data-aos-delay="100">
            <div class="icon"><i class="bi bi-card-checklist"></i></div>
            <h4 class="title"><a href="">Database Management</a></h4>
            <p class="description">You already have a website and now you need to collect information. Allow user authentication, user shopping carts, tracking statistics or data? You need to add database functionality to your site to make it more successful.</p>
          </div>
          <div class="col-lg-4 col-md-6 icon-box" data-aos="fade-up" data-aos-delay="200">
            <div class="icon"><i class="bi bi-bar-chart"></i></div>
            <h4 class="title"><a href="">Sed ut perspiciatis</a></h4>
            <p class="description">Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur</p>
          </div>
          <div class="col-lg-4 col-md-6 icon-box" data-aos="fade-up" data-aos-delay="300">
            <div class="icon"><i class="bi bi-binoculars"></i></div>
            <h4 class="title"><a href="">Magni Dolores</a></h4>
            <p class="description">Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum</p>
          </div>
          <div class="col-lg-4 col-md-6 icon-box" data-aos="fade-up" data-aos-delay="400">
            <div class="icon"><i class="bi bi-brightness-high"></i></div>
            <h4 class="title"><a href="">Nemo Enim</a></h4>
            <p class="description">At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium voluptatum deleniti atque</p>
          </div>
          <div class="col-lg-4 col-md-6 icon-box" data-aos="fade-up" data-aos-delay="500">
            <div class="icon"><i class="bi bi-calendar4-week"></i></div>
            <h4 class="title"><a href="">Eiusmod Tempor</a></h4>
            <p class="description">Et harum quidem rerum facilis est et expedita distinctio. Nam libero tempore, cum soluta nobis est eligendi</p>
          </div>
        </div>

      </div>
    </section>-->
    <!-- End Services Section -->
    <!-- ======= Testimonials Section ======= -->
    <section id="testimonials" class="testimonials section-bg">
        <div class="container">

            <div class="section-title">
                <h2>Collaborations</h2>
                <p>Other developers I have worked with!</p>
            </div>

            <div class="testimonials-slider swiper" data-aos="fade-up" data-aos-delay="100">
                <div class="swiper-wrapper">

                    <div class="swiper-slide">
                        <div class="testimonial-item" data-aos="fade-up">
                            <p>
                                <i class="bx bxs-quote-alt-left quote-icon-left"></i>
                                Check out my LinkedIn by clicking on my image.
                                <i class="bx bxs-quote-alt-right quote-icon-right"></i>
                            </p>
                            <a href="https://www.linkedin.com/in/zakary-sisler/" target="_blank"><img src="~/Content/assets/img/testimonials/Zak.jpg" class="testimonial-img" alt=""></a>
                            <h3>Zakary Sisler</h3>
                            <h4>Full Stack Developer</h4>
                        </div>
                    </div><!-- End testimonial item -->

                    <div class="swiper-slide">
                        <div class="testimonial-item" data-aos="fade-up">
                            <p>
                                <i class="bx bxs-quote-alt-left quote-icon-left"></i>
                                Check out my LinkedIn by clicking on my image.
                                <i class="bx bxs-quote-alt-right quote-icon-right"></i>
                            </p>
                            <a href="https://www.linkedin.com/in/romeo-bagunu/" target="_blank"><img src="~/Content/assets/img/testimonials/Romeo.jpg" class="testimonial-img" alt=""></a>
                            <h3>Romeo Bagunu</h3>
                            <h4>Full Stack Developer</h4>
                        </div>
                    </div><!-- End testimonial item -->

                    <div class="swiper-slide">
                        <div class="testimonial-item" data-aos="fade-up">
                            <p>
                                <i class="bx bxs-quote-alt-left quote-icon-left"></i>
                                Check out my LinkedIn by clicking on my image.
                                <i class="bx bxs-quote-alt-right quote-icon-right"></i>
                            </p>
                            <a href="https://www.linkedin.com/in/aus-wallace/" target="_blank"><img src="~/Content/assets/img/testimonials/Austin.jpg" class="testimonial-img" alt=""></a>
                            <h3>Austin Wallace</h3>
                            <h4>Full Stack Developer</h4>
                        </div>
                    </div><!-- End testimonial item -->

                    <div class="swiper-slide">
                        <div class="testimonial-item" data-aos="fade-up">
                            <p>
                                <i class="bx bxs-quote-alt-left quote-icon-left"></i>
                                Check out my LinkedIn by clicking on my image.
                                <i class="bx bxs-quote-alt-right quote-icon-right"></i>
                            </p>
                            <a href="https://www.linkedin.com/in/sean-a-mckinney/" target="_blank"><img src="~/Content/assets/img/testimonials/Sean.jpg" class="testimonial-img" alt=""></a>
                            <h3>Sean McKinney</h3>
                            <h4>Full Stack Developer</h4>
                        </div>
                    </div><!-- End testimonial item -->

                    <div class="swiper-slide">
                        <div class="testimonial-item" data-aos="fade-up">
                            <p>
                                <i class="bx bxs-quote-alt-left quote-icon-left"></i>
                                Check out my LinkedIn by clicking on my image.
                                <i class="bx bxs-quote-alt-right quote-icon-right"></i>
                            </p>
                            <a href="https://www.linkedin.com/in/kayla-n-nguyen/" target="_blank"><img src="~/Content/assets/img/testimonials/Kayla.jpg" class="testimonial-img" alt=""></a>
                            <h3>Kayla Nguyen</h3>
                            <h4>Full Stack Developer</h4>
                        </div>
                    </div><!-- End testimonial item -->

                    <div class="swiper-slide">
                        <div class="testimonial-item" data-aos="fade-up">
                            <p>
                                <i class="bx bxs-quote-alt-left quote-icon-left"></i>
                                Check out my LinkedIn by clicking on my image.
                                <i class="bx bxs-quote-alt-right quote-icon-right"></i>
                            </p>
                            <a href="https://www.linkedin.com/in/connor-dunn-396188233/" target="_blank"><img src="~/Content/assets/img/testimonials/Connor.jpg" class="testimonial-img" alt=""></a>
                            <h3>Connor Dunn</h3>
                            <h4>Full Stack Developer</h4>
                        </div>
                    </div><!-- End testimonial item -->

                    <div class="swiper-slide">
                        <div class="testimonial-item" data-aos="fade-up">
                            <p>
                                <i class="bx bxs-quote-alt-left quote-icon-left"></i>
                                Check out my LinkedIn by clicking on my image.
                                <i class="bx bxs-quote-alt-right quote-icon-right"></i>
                            </p>
                            <a href="https://www.linkedin.com/in/jazmine-rizo-7aa283232/" target="_blank"><img src="~/Content/assets/img/testimonials/Jaz.jpg" class="testimonial-img" alt=""></a>
                            <h3>Jazmine Rizo</h3>
                            <h4>Full Stack Developer</h4>
                        </div>
                    </div><!-- End testimonial item -->

                    <div class="swiper-slide">
                        <div class="testimonial-item" data-aos="fade-up">
                            <p>
                                <i class="bx bxs-quote-alt-left quote-icon-left"></i>
                                Check out my LinkedIn by clicking on my image.
                                <i class="bx bxs-quote-alt-right quote-icon-right"></i>
                            </p>
                            <a href="https://www.linkedin.com/in/justin-peacock-6aa829229/" target="_blank"><img src="~/Content/assets/img/testimonials/Justin.jpg" class="testimonial-img" alt=""></a>
                            <h3>Justin Peacock</h3>
                            <h4>Full Stack Developer</h4>
                        </div>
                    </div><!-- End testimonial item -->

                    <div class="swiper-slide">
                        <div class="testimonial-item" data-aos="fade-up">
                            <p>
                                <i class="bx bxs-quote-alt-left quote-icon-left"></i>
                                Check out my LinkedIn by clicking on my image.
                                <i class="bx bxs-quote-alt-right quote-icon-right"></i>
                            </p>
                            <a href="https://www.linkedin.com/in/payton-vonholten-695316233/" target="_blank"><img src="~/Content/assets/img/testimonials/Payton.jpg" class="testimonial-img" alt=""></a>
                            <h3>Payton VonHolten</h3>
                            <h4>Full Stack Developer</h4>
                        </div>
                    </div><!-- End testimonial item -->

                </div>
                <div class="swiper-pagination"></div>
            </div>

        </div>
    </section><!-- End Testimonials Section -->
    <!-- ======= Contact Section ======= -->
    <section id="contact" class="contact">
        <div class="container">

            <div class="section-title">
                <h2>Contact</h2>
                <p>Contact me to schedule a free consultation for your needs or to discuss how I can fit with your team.</p>
            </div>

            <div class="row" data-aos="fade-in">

                <div class="col-lg-5 d-flex align-items-stretch">
                    <div class="info">
                        <div class="address">
                            <i class="bi bi-geo-alt"></i>
                            <h4>Location:</h4>
                            <p>Blue Springs, MO 64015</p>
                        </div>

                        <div class="email">
                            <i class="bi bi-envelope"></i>
                            <h4>Email:</h4>
                            <p>mroberts8035@outlook.com</p>
                        </div>

                        <div class="phone">
                            <i class="bi bi-phone"></i>
                            <h4>Call:</h4>
                            <p>+1 816 668 8035</p>
                        </div>

                        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d99214.3287752479!2d-94.34919166808042!3d39.005097962388916!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x87c11a4d25e0e57b%3A0x109f2216ac1f2d35!2sBlue%20Springs%2C%20MO!5e0!3m2!1sen!2sus!4v1645999173912!5m2!1sen!2sus" frameborder="0" style="border:0; width: 100%; height: 290px;" allowfullscreen="" loading="lazy"></iframe>
                        <!--<iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d12097.433213460943!2d-74.0062269!3d40.7101282!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0xb89d1fe6bc499443!2sDowntown+Conference+Center!5e0!3m2!1smk!2sbg!4v1539943755621" frameborder="0" style="border:0; width: 100%; height: 290px;" allowfullscreen></iframe>-->
                    </div>

                </div>

                <div class="col-lg-7 mt-5 mt-lg-0 d-flex align-items-stretch">
                    <form action="forms/contact.php" method="post" role="form" class="php-email-form">
                        <div class="row">
                            <div class="form-group col-md-6">
                                <label for="name">Your Name</label>
                                <input type="text" name="name" class="form-control" id="name" required>
                            </div>
                            <div class="form-group col-md-6">
                                <label for="name">Your Email</label>
                                <input type="email" class="form-control" name="email" id="email" required>
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="name">Subject</label>
                            <input type="text" class="form-control" name="subject" id="subject" required>
                        </div>
                        <div class="form-group">
                            <label for="name">Message</label>
                            <textarea class="form-control" name="message" rows="10" required></textarea>
                        </div>
                        <div class="my-3">
                            <div class="loading">Loading</div>
                            <div class="error-message"></div>
                            <div class="sent-message">Your message has been sent. Thank you!</div>
                        </div>
                        <div class="text-center"><button type="submit">Send Message</button></div>
                    </form>
                </div>

            </div>

        </div>
    </section><!-- End Contact Section -->

</main><!-- End #main -->